.resources .heading{
    margin-left: 5rem;
    margin-bottom: 3rem;
    margin-top: 3rem;
    color: #807BE5;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p{
    font-size: 1.2rem;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 3rem;
    margin-top: 3rem;
    color: #807BE5;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}