body {
    background-image: url("../../images/pattern.png");
    background-size: 22rem;
    margin: 0;
}

.indexMainPic{
    margin-top: 2rem;
    max-width:100%;
    transition: 1s ease;
}

.mobile {
    display: none;
}


@media only screen and (max-width: 632px) {
    .bodyContainer {
        display: none;
    }

    .mobile {
        display: block;
        margin-top: 1rem;
        margin-left: 2rem;
        margin-right: 2rem;
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: rgb(65, 65, 65);
    }

    .mobile .mobilepic {
        max-width: 300px;
        opacity: 0.7;
    }
}



